RewriteEngine on
RewriteRule ^(.*)\.[\d]{10}\.(css|js)$ $1.$2 [L]

# pretty URLs
# changes www.sitename.com/page.php to www.sitename.com/page/
RewriteRule ^page/?$ page.php [NC,L]

# compress stuff
<IfModule mod_deflate.c>
  <FilesMatch "\.(css|js|x?html?|php)$">
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>